.Chat-main
  .Chat-main__group-info
    .Main-group
      .Main-group__name
        柱
      .Main-group__member
        Member：炭治郎　義勇　しのぶ
    .Group-edit
      = link_to "#" do
        Edit
  .Chat-main__message-list
    .Chat-container
      .Chat-message
        .Chat-name
          .Chat-name__box
            義勇
        .Chat-at
          2020年06月09日 20時26分
      .Chat-comment
        俺は嫌われていない
      .Chat-message
        .Chat-name
          .Chat-name__box
            しのぶ
        .Chat-at
          2020年06月09日 21時33分
      .Chat-comment
        こんばんは。今夜は月が綺麗ですね
  .Chat-main__message-form
    %form.Form-all
      .Forms
        %input{type: "text", class: "Forms__input-box", placeholder: "text a message"}
        %label{class: "Forms__label"}
          = icon('far', 'images')
          %input{type: "file", class: "Forms__image-file"}
      %input{type: "submit", class: "Forms__btn", value: "Send"}