.Chat-main
  .Chat-main__group-info
    .Main-group
      .Main-group__name
        techcamp
      .Main-group__member
        Member：tatsuya
    .Group-edit
      = link_to "#" do
        Edit
  .Chat-main__message-list
  .Chat-main__message-form
