.MessageBox{data: {message: {id: message.id}}}
.Chat-message
  .Chat-name
    .Chat-name__box
      = message.user.name
  .Chat-date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.Chat-comment
  .Chat-comment__content
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?